<ion-header>
  <ion-navbar>
    <ion-title text-center> pRodUcTiBeitOR 1984</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button margin-vertical block color="danger" (click)="entradaTrabajo()"> Entrada trabajo</button>
  <button ion-button margin-vertical block class="buttonOrange" (click)="entradaComedor()"> Entrada comedor </button>
  <button ion-button margin-vertical block class="buttonYellow" (click)="salidaComedor()"> Salida comedor </button>
  <button ion-button margin-vertical block color="secondary" (click)="salidaTrabajo()"> Salida trabajo </button>
  <ion-row>
    <ion-col col-6>
      <button ion-button margin-vertical block color="light" (click)="resetTabla()">Reset Horas</button>
    </ion-col>
    <ion-col col-6>
        <button ion-button margin-vertical block color="outline-primary" (click)="goModal()">Ver Excel Horas</button>
    </ion-col>
  </ion-row>
  
  <ion-item>
      <ion-label> Introduccion Manual</ion-label>
      <ion-toggle [(ngModel)]="introManual"  checked="false"></ion-toggle>
    </ion-item>
  
  <ion-list no-margin>
      <ion-item no-margin>
        <ion-label>Dia de la Semana</ion-label>
        <ion-select [(ngModel)]="diaSemana">
          <ion-option value="1">Lunes</ion-option>
          <ion-option value="2">Martes</ion-option>
          <ion-option value="3">Miercoles</ion-option>
          <ion-option value="4">Jueves</ion-option>
          <ion-option value="5">Viernes</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
  <ion-item>
      <ion-label>Hora Manual (15:33)</ion-label>
      <ion-input type="text" [(ngModel)]="horaManual" ></ion-input>
    </ion-item>

  <div text-center>
    <ion-label margin>
      <p no-margin>Tiempo trabajado estimado</p>
     <h1>Horas: {{horas}} Minutos: {{minutos}}</h1>
    </ion-label>
  </div>
</ion-content>