<!--
  Generated template for the ModalExcelPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Condensador de Fluzo</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-row>
    <ion-col col-2>  </ion-col>
    <ion-col col-2> Lunes </ion-col>
    <ion-col col-2> Martes</ion-col>
    <ion-col col-2> Mierc</ion-col>
    <ion-col col-2> Jueves</ion-col>
    <ion-col col-2> Vierne</ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-2> I.Work </ion-col>
    <ion-col col-2> {{arrayHoras[0][0].getHours()}}:{{arrayHoras[0][0].getMinutes()}} </ion-col>
    <ion-col col-2> {{arrayHoras[1][0].getHours()}}:{{arrayHoras[1][0].getMinutes()}} </ion-col>
    <ion-col col-2> {{arrayHoras[2][0].getHours()}}:{{arrayHoras[2][0].getMinutes()}} </ion-col>
    <ion-col col-2> {{arrayHoras[3][0].getHours()}}:{{arrayHoras[3][0].getMinutes()}} </ion-col>
    <ion-col col-2> {{arrayHoras[4][0].getHours()}}:{{arrayHoras[4][0].getMinutes()}} </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-2> I.Eat </ion-col>
    <ion-col col-2> {{arrayHoras[0][1].getHours()}}:{{arrayHoras[0][1].getMinutes()}} </ion-col>
    <ion-col col-2> {{arrayHoras[1][1].getHours()}}:{{arrayHoras[1][1].getMinutes()}} </ion-col>
    <ion-col col-2> {{arrayHoras[2][1].getHours()}}:{{arrayHoras[2][1].getMinutes()}} </ion-col>
    <ion-col col-2> {{arrayHoras[3][1].getHours()}}:{{arrayHoras[3][1].getMinutes()}} </ion-col>
    <ion-col col-2> {{arrayHoras[4][1].getHours()}}:{{arrayHoras[4][1].getMinutes()}} </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-2> O.Eat </ion-col>
    <ion-col col-2> {{arrayHoras[0][2].getHours()}}:{{arrayHoras[0][2].getMinutes()}} </ion-col>
    <ion-col col-2> {{arrayHoras[1][2].getHours()}}:{{arrayHoras[1][2].getMinutes()}} </ion-col>
    <ion-col col-2> {{arrayHoras[2][2].getHours()}}:{{arrayHoras[2][2].getMinutes()}} </ion-col>
    <ion-col col-2> {{arrayHoras[3][2].getHours()}}:{{arrayHoras[3][2].getMinutes()}} </ion-col>
    <ion-col col-2> {{arrayHoras[4][2].getHours()}}:{{arrayHoras[4][2].getMinutes()}} </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-2> O.Work </ion-col>
    <ion-col col-2> {{arrayHoras[0][3].getHours()}}:{{arrayHoras[0][3].getMinutes()}} </ion-col>
    <ion-col col-2> {{arrayHoras[1][3].getHours()}}:{{arrayHoras[1][3].getMinutes()}} </ion-col>
    <ion-col col-2> {{arrayHoras[2][3].getHours()}}:{{arrayHoras[2][3].getMinutes()}} </ion-col>
    <ion-col col-2> {{arrayHoras[3][3].getHours()}}:{{arrayHoras[3][3].getMinutes()}} </ion-col>
    <ion-col col-2> {{arrayHoras[4][3].getHours()}}:{{arrayHoras[4][3].getMinutes()}} </ion-col>
  </ion-row>
  <ion-row>
      <ion-col col-2> T.Eat </ion-col>
      <ion-col col-2> {{restarHoras(arrayHoras[0][2], arrayHoras[0][1])}} </ion-col>
      <ion-col col-2> {{restarHoras(arrayHoras[1][2], arrayHoras[1][1])}} </ion-col>
      <ion-col col-2> {{restarHoras(arrayHoras[2][2], arrayHoras[2][1])}} </ion-col>
      <ion-col col-2> {{restarHoras(arrayHoras[3][2], arrayHoras[3][1])}} </ion-col>
      <ion-col col-2> {{restarHoras(arrayHoras[4][2], arrayHoras[4][1])}} </ion-col>
  </ion-row>
  <ion-row>
      <ion-col col-2> T.Off </ion-col>
      <ion-col col-2> {{restarHoras(arrayHoras[0][3], arrayHoras[0][0])}} </ion-col>
      <ion-col col-2> {{restarHoras(arrayHoras[1][3], arrayHoras[1][0])}} </ion-col>
      <ion-col col-2> {{restarHoras(arrayHoras[2][3], arrayHoras[2][0])}} </ion-col>
      <ion-col col-2> {{restarHoras(arrayHoras[3][3], arrayHoras[3][0])}} </ion-col>
      <ion-col col-2> {{restarHoras(arrayHoras[4][3], arrayHoras[4][0])}} </ion-col>
  </ion-row>
  <ion-row>
      <ion-col col-2> Work</ion-col>
      <ion-col col-2> {{restarHorasNumber(arrayHoras[0][3], arrayHoras[0][0], arrayHoras[0][2], arrayHoras[0][1])}} </ion-col>
      <ion-col col-2> {{restarHorasNumber(arrayHoras[1][3], arrayHoras[1][0], arrayHoras[1][2], arrayHoras[1][1])}} </ion-col>
      <ion-col col-2> {{restarHorasNumber(arrayHoras[2][3], arrayHoras[2][0], arrayHoras[2][2], arrayHoras[2][1])}} </ion-col>
      <ion-col col-2> {{restarHorasNumber(arrayHoras[3][3], arrayHoras[3][0], arrayHoras[3][2], arrayHoras[3][1])}} </ion-col>
      <ion-col col-2> {{restarHorasNumber(arrayHoras[4][3], arrayHoras[4][0], arrayHoras[4][2], arrayHoras[4][1])}} </ion-col>
  </ion-row>
</ion-content>
